.col.s6.m6.l3
  .card.hoverable
    .card-image
      = image_tag movie.image_url, class: 'movie-poster'

    .card-content
      = link_to movie.title, movie, class: 'h6'

    .card-action
      = link_to 'showtimes', "#", class: 'activator'
      = link_to 'buy ticket', new_movie_order_path(movie)

    .card-reveal
      = render partial: 'showtimes/card', locals: { movie: movie }