.row.well.z-depth-3
  %h1.title= @movie.title
  %br
  .row
    .col.l4
      = image_tag @movie.image_url, class: 'movie-poster'
    .col.l8
      %h5= "Synopsis:"
      %p= "#{@movie.description}"
      %h5= "Runtime:"
      %p= "#{@movie.runtime} min."
      %h5= "Rating:"
      %p= "#{@movie.rating} / 10 "
