.row.well.z-depth-3
  %h1.title= @movie.title
  %br
  .row
    .col.l4
      = image_tag @movie.image_url, class: 'movie-poster'
    .col.l8
      %h5= "Synopsis:"
      %p= "#{@movie.description}"
      %h5= "Rating:"
      %p= "#{@movie.rating} / 10 "

      = link_to 'buy ticket', new_movie_order_path(@movie), class: 'waves-effect waves-light btn amber darken-4 right'
