%body
  .container
    .row
      - title(@movie.title, 'Movies')
      %h1= @movie.title
      %h5= "Synopsis:"
      %p= "#{@movie.description}"
      %h5= "Runtime:"
      %p= "#{@movie.runtime} min."

      = link_to 'Edit Movie', edit_movie_path(@movie)
      - 2.times do
        %br
      = link_to 'Delete Movie', movie_path(@movie), method: :delete, data: { confirm: "Are you sure you want to delete this movie?" }