%br
%h4.title Showtimes
=link_to 'New Showtime', new_showtime_path, class: 'waves-effect waves-light btn purple right'
.row
%table.striped
  %thead
    %tr
      %th Movie
      %th Auditorium
      %th Time
      %th Total Capacity
      %th Remaining Capacity
  %tbody
    - if @showtimes.any?
      #showtimes
        - @showtimes.each do |showtime|
          %tr
            %td= showtime.movie.title
            %td= showtime.theatre.number
            %td= showtime.display_name
            %td= showtime.theatre.capacity
            %td= showtime.remaining_capacity
    - else
      %tr
        %td= 'Sorry, There are currently no showtimes for this film please check back later.'